@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500&display=swap');
*{
    font-weight: 900;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%; 
  
}
/*color*/
.container_h2_divSixArticles,.div_h2_troisArticles,.hebergements_deuxFoisTrois article,.div_hebergement_trois,footer,.rechercher {
    background-color: #F2F2F2;
}
/*Header*/
header {
    width: 92%;
    margin: auto;
}
.header_h1 {
    display: flex;  
    justify-content: flex-end;
}
.header_img img {
     width: 6.5rem;
     margin-top:25px;
}
.header_nav {
    display: flex;
    justify-content: flex-end;
    flex-grow:1;
    color:#0065FC;
    margin-right: 2%;
} 
a {
    text-decoration: none;
}
.nav_p {
    padding: 40px 20px;
    
}
.effetHover {
    visibility: visible;
    width: 90%;
    height: 2px;
    border: solid black 1px;
    background-color: #0065FC;
}
.effetHover :hover {
    visibility: visible;
}
@media screen and (max-width: 400px) {
    .header_h1 {
         flex-wrap: wrap;
         border:solid black 1px
    }
    .header_img {
        border:solid black 1px
        
    }
    .flexMobil {
        display: flex;
        flex-grow: 1;
    }
 
}
/*Header Texte dans tete*/
.trouverHebergement {
    margin-bottom: 3rem;
}
.trouverHebergement_Recherche {
    display:flex;
    flex-wrap: no-wrap;
    width:100%; 
}
.trouverHebergement_font-awesome {
    background-color: #DEEBFF;
    padding: 0.8rem 1.5rem;
    border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    -ms-border-radius: 15px 0 0 15px;
    -o-border-radius: 15px 0 0 15px;
    font-size: 1.5rem;
}
.rechercher {
    text-align: center;  
    font-size: 1rem;
    padding: 17px; 
    border:none;
    border:solid 1px #DEEBFF;   
}


.envoyer {
    border-radius:0 15px 15px 0;
    -webkit-border-radius:0 15px 15px 0;
    -moz-border-radius:0 15px 15px 0;
    -ms-border-radius:0 15px 15px 0;
    -o-border-radius:0 15px 15px 0;
    margin: 0;
    padding: 1rem;
    background-color: #0065FC;
    color:white;
    width: 9rem;
    font-size: 1rem;
    text-align: center;  
}
/*Filtres */
.filtresContainer_container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 31px;
}
.filtresContainer {
    display: flex;
   
}
.filtresContainerH2 {
   flex-grow: 1;
   margin-right: 3rem;
}
.filtresContainerFlitres {
    width: 90%;
    display: flex;
   
    
    
}
.filtresContainer_div {
    display: flex;
    align-items: center;
    margin: 0 1rem 0 0;
    padding-right: 1rem;
    height: 3.3rem;
    border: 1px solid #DEEBFF;
    border-radius:50px ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
}
.fas2 {
   padding-top: 1.2rem;
   margin: 0 1rem 0 0;
    color:#0065Fc;
    background-color:#DEEBFF ;
    width: 3.5rem;
    height: 2.2rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;   
}
/***main***/
main {
    display: flex;
   flex-direction: column;
    width: 92%;
    margin: auto;
    height:1250px;  
}
/************hebergement Marseille****************/

.container_h2_divSixArticles,.div_h2_troisArticles,.hebergements_deuxFoisTrois article,.div_hebergement_trois,.articleVerticale,.divHorizontale,.deuxAticlesHorizontales  {
    border-radius: 20px;
    -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
}

.main_hebergement_populaire {
    display: flex;
}
/*dimension du bloc hebergement Marseille**********/
.container_h2_divSixArticles {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    height: 624px;
 
}
.container_h2_divSixArticles p a {
    margin-left: 30px;
}
.hebergements_deuxFoisTrois {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    

}
.hebergements_deuxFoisTrois article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 0.2rem;
}
.hebergements_deuxFoisTrois article img,.articleVerticale article img,.divHorizontale article img {
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}
.hebergements_deuxFoisTrois article img{
   object-fit: cover;
    margin-top: 5px;
    width: 100%;
    height: 114px;
    margin-bottom: -15px;
}

.hebergements_deuxFoisTrois article div p,.div_hebergement_trois article p {
    font-weight: normal;
    font-size: 0.9rem;
    margin-top: -20px;

}
.etoile {
    display: flex;
    padding: 0.5rem;
    color:#0065FC;
}
.hebergements_deuxFoisTrois article div p:nth-child(5){
    opacity: 0.3;
}
.div_hebergement_sixArticles {
    margin-left: 2rem;
}

/********les plus populaires***/
.div_h2_troisArticles {
    display: flex;
    flex-direction: column;
    
}
.div_hebergement_trois article img{
    object-fit: cover;
    margin:3px 13px 3px 3px;
    width: 9rem;
    height: 135px;
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;
}
.hebergements_deuxFoisTrois article {
    width: 100%;
    height: 200px;
    margin: 0 1.5rem 0 1.5rem;
    align-content: space-around;

}
.div_h2_troisArticles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3rem;
    padding: 0 2rem 0 2rem;
    
}
.div_hebergement_troisArticles {
    display: flex;
    justify-content: space-between;
   
}
.div_hebergement_trois {
    width: 100%;
    height: 142px;
    background-color: white;
}
.div_hebergement_trois article{
    display: flex;  
}
.div_hebergement_trois article .etoile {
    margin-top: 4rem;
}



/*************activite a marseille*******/
.main_activite {
    display: flex; 
    margin-top: 3rem;
   
}
.div_container_h2_activite,.div_container_h2_activiteDuo {
    display: flex;
   flex-direction: column;   
}
.div_container_h2_activiteDuo {
    margin-top: 69px;
}
.containerDeuxDivDeTroisArticles {
    display: flex;
   

}
.divHorizontale {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
   

}
/****reglage image********/
.articleVerticale article img{
    object-fit: cover;
    width: 18rem;
    height: 390px;
}
.divHorizontale article img {
    object-fit: cover;
    width: 17rem;
    height: 150px;

}
.articleVerticale {
    width: 18rem;
    height: 440px;
    font-size: 1.2rem;

}
.deuxAticlesHorizontales {
    margin:0 1rem 2rem;
    width: 17rem;
    height: 204px;
}
/**ombre activité Marseille****/
.articleVerticale,.deuxAticlesHorizontales  {
    margin-right: 1rem;
box-shadow: 1px 0px 57px -29px rgba(0,0,0,0.65);
-webkit-box-shadow: 1px 0px 57px -29px rgba(0,0,0,0.65);
-moz-box-shadow: 1px 0px 57px -29px rgba(0,0,0,0.65);
}
h5 {
    font-size: 1rem;
    padding-left: 1.5rem;
    

}

/*footer*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
   width: 100%;
   height: 220px;
   margin-top: 60px;

}
footer p {
    font-weight: normal;
    opacity: 0.5;
}
footer p:hover {
    font-weight:700;

}




