body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;   
}
/*introduction divers*/
.container {
    max-width: 1440px;
    margin:0 auto;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/*color site*/
.container_sixArticlesEtH2,
.div_troisArticles,
.rechercher
.envoyer
footer {
    background-color: #F2F2F2;
}
.euros {
    font-weight: bold;
}
h3 {
    font-size: 1rem;
    margin:  0;
}
h4,
h5 {
    font-weight: bold;
    color: black;
}
.div_troisArticles a img:hover,
.articleHebergements a img:hover,
.div_container_deuxBlosDeTroisArticles a img:hover
{
    opacity: 0.8;
}
.fas,.fas2 {
    color: #0065fc ;
} 
/*HEADER *********************************************/
header {
    position: relative;
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*****container header premiere partie****/
.header_h1 {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
/*dimension logo*/
.header_img img {  
    width: 6rem;
}
/*******header nav******/
.header_nav{
    display: flex; 
    justify-content: space-between;
    width: 20rem;
}
/*Navigation hebergement activite*/
.nav_pHebergementHeber,.nav_pHebergementHeberActivite {
    width: 100%;
}
.nav_pHebergementHeber p,.nav_pHebergementHeberActivite p  { 
    margin-top:40px;
    text-align: center;
    width: 100%; 
    font-weight: normal; 
}
.nav_pHebergementHeber p a,.nav_pHebergementHeberActivite p a:hover {
    color: #0065FC !important;
}
.lienEnHeader {
    color:  #0065FC;
}
.lienEnHeaderActivite {
    color:black !important;
}
.lienEnHeaderActivite :visited {
    color: #0065FC;
}
.nav_pHebergementHeber/*:hover*/,.nav_pHebergementHeberActivite:hover {
    border-top:3px solid #0065FC;
    width:100%;
}
/***s'inscrire*****/
.nav_pHebergementInscrire {
    position: absolute;
    text-align: center;
    width: 10%;
    margin-left:90%;
}
.nav_pHebergementInscrire:hover {
    border-top:3px solid #0065FC;
    width:10%;
}
.nav_pHebergementInscrire p {
    margin-top:40px;
    font-weight: 900;
}
/*******CONTAINER DEUXIEME PARTIE HEADER*********/
.trouverHebergement p {
    font-size: 0.9rem;   
}
/*container element de recherche*/
.trouverUnHebergement_form {
    display: flex;
    flex-wrap: nowrap; 
    width: 30%;
    border-radius: 20px;
}
.trouverHebergement_font-awesome {
    background-color: #DEEBFF;
    padding: 0.8rem 1.2rem ;
    margin-top: -1px;
    border-radius: 15px 0 0 15px;
    font-size: 1rem;
    border:none;
}
.trouverHebergement_font-awesome:hover {
    background-color:#aebfda ;
}
.rechercher{  
    padding-left: 5%;
    font-size: 1rem;
    width: auto;
    border:none; 
    background-color: white;
    border:solid 1px #DEEBFF;
    }
input:focus {
    background-color:rgba(135, 231, 17, 0.425) ;
    outline: none;   
}
.rechercher::placeholder {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.envoyer {
    border-radius:0 15px 15px 0;
    background-color: #0065FC;
    color:white;
    width: 8.4rem;
    max-width: 133px;
    font-size: 1rem;
    text-align: center;  
    font-weight: bold;
    border: none;
}
.envoyer:hover {
    background-color: #4789ec; 
}
#btnRechercher {
    display:none;             
}

/***********partie FILTRES*************/
.filtresContainer_container {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    margin-top: 1.9rem;
    row-gap: 1.9rem;
    width: 100%;
}
.filtresContainerFiltres {
    display: flex;
    column-gap:2%;
    width: 100%;
    flex: 1 1;
}
.filtresContainerH2 {
    font-size: 1.2rem;
    margin: auto;
    margin-left: 0;
    padding:1rem 0;
   
}
.filtreContainerQuatresItems {
    display: flex;
    flex:2 2;
    justify-content:flex-start;
    align-items: center;
    column-gap: 20px;
    row-gap: 0.7rem;
    flex-wrap: wrap;
    width: 60%;
}
/*********container logo eco fam rom anim*****/
.filtresContainer_div {
    display: flex;
    align-items: center;
    border: 1px solid #DEEBFF;
    border-radius:50px;
    padding: 0;
}
.filtresContainer_div p{
    margin: auto 1rem auto 0.7rem;
    font-weight: bold;
    color: black;
}
.filtresContainer_div:hover {
    box-shadow: 2px -7px 28px 7px rgba(182, 171, 171, 0.91) inset;
}

/*Filtres */
.fas2 {
    
    padding: 15px 17px;
    background-color:#DEEBFF ;
    border-radius: 50px;
}

/****container plus de 50 logements****/
.filtresConainertsIcone {
    display: flex;
    column-gap: 1.5rem;
    color: black;
    width: 80%;
    padding-bottom: 2rem;
}
.filtresConainertsIcone p {
    color: black;
    font-weight: normal;
    font-size: 0.9rem;
  
}
.fas500logements {
    text-align: center;   
    font-size: 0.7rem;
    width: 21px;

   /* padding-top: 4px;*/
}
.borderFas500logements {
  border: #f2f2f2 solid 1px;
  border-radius: 50px;
}
/*******************************************BREAKPOINTS HEADER*/
@media screen and (max-width:750px) {
        header {
            width: 100%;
        }
        .header_h1 {
            flex-direction:column;
            width: 100%;
        }
        .header_img img {  
           margin-left: 1rem;
        }
        .header_nav{
            justify-content: space-between;
            width: 100%;
        }
        .deuxiemePartieHeader {
            width: 90%;
            margin: 0 12px;
        }
        /**************************lien hebergement et Activité*/
        .nav_pHebergementHeber,.nav_pHebergementHeberActivite {
            width: 100%;
            border-top: none;
        }
        .nav_pHebergementHeber:hover,.nav_pHebergementHeberActivite:hover  {
            border-top: none;
            border-bottom:3px solid #0065FC;
            width:100%;
        }
        .nav_pHebergementHeber p,.nav_pHebergementHeberActivite p { 
            margin-top:0px;
            text-align: center;
        }
    
        /**************************lien s'incrire*/
    
        /***s'inscrire*****/
        .nav_pHebergementInscrire {
            margin-left:70%;
            width: 30%;
        
        }
        .nav_pHebergementInscrire:hover {   
            width:30%;
        }
            
        /*pour filtres*/
        .filtresContainerFiltres{
            flex-direction: column;
        }
        /*bouton rechercher*/
        .nav_pHebergementInscrire {
            margin-left:70%;
        }
        .envoyer {
            display: none;
        }
        #btnRechercher {
            position: absolute;
            display: block;
            background-color: #0065FC;
            border-radius: 15px;
            border: none;
            margin-left: 15rem;    
        }
        .envoyerMobile {
            color: #F2F2F2;
            margin: 0.8rem 0.6rem;
        }
 }
      
/******************************MAIN CONTAINER *********************/
/*****************main container**********/

/*ci-dessous border radius des elements*/
.articlesLesPlusPopulaires a,
.container_sixArticlesEtH2,
.div_troisArticles,.articleHebergements a ,
.articleVerticale,.divHorizontale,
.deuxArticlesHorizontales {
    border-radius: 20px;
}/*********************************reglages associés***********************/
/*border radius des images*/
.containerDesSixArticles article img,
.articleVerticale img,
.divHorizontale img,
.divHorizontalePomeguesFrioule article a img {
    border-radius: 20px 20px 0 0;
}
.starWhite{
    opacity: 0.3;
}
main {
    display: flex;
    flex-direction: column;
    margin: auto; 
    width: 93%;
}
/************HEBERGEMENT ET LES PLUS POPULAIRE****************/
/*etoiles communes AUX articles */
.etoilePopulaire {
    display: flex;
}
.etoilePopulaire p i {
    font-size: 0.7rem;
}

/*SECTION CONTAINER HEBERGEMENT ET LES PLUS POPULAIRE*/
.sectionHeberEtPopulaire {
    display: flex;
    column-gap: 3%;
}
/*H2*/
.heberH2,.pHoverSixAticle{
    width:90%;
}

/*CONTAINER DES SIX ARTICLES "avec h2 et afficher plus" hebergement Marseille**********/

.container_sixArticlesEtH2 {
    display: flex;   
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}
/*CONTAINER DES SIX ARTICLES HEBERGEMENT*/
.containerDesSixArticles {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 3rem;
    column-gap: 2rem;
    width: 90%;
    height: 85%;
}
/**********ARTICLES des hebergements***************/
.articleHebergements {
   display: flex;
   flex-direction: column;
   background-color: white;
   flex-grow: 1;
    width:25%;
   
   border-radius: 20px 20px;
}
.articleHebergements img{
    object-fit: cover; 
    width: 100%;
    height: 7rem;
    border:2px solid white;
    border-radius: 20px 0 0 20px;
 }
 /********************Container text***************/
 .containerTextHebergement {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 1rem;  
    width: 100%;  
}

.containerTextHebergement p {
    font-size: 0.8rem;
    font-weight: normal; 
    margin: 0.5rem 0 0.5rem 0;
    color: black;
 }
.pHoverSixAticle p a{
   color: black;
   font-weight: bold;
}
.pHoverSixAticle {
    margin: 2rem;
}
/********************* LES PLUS POPULAIRES****************/
/***********Container pour les trois articles les plus populaire**********/
.div_troisArticles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%; 
}
.containerDesTroisArticles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:80%;
    height: 85%;
    margin:0 0 1.8rem 0;
}
/******div container h2 et de l'icone********/
.divH2EtIconePopulaire {
    display: flex; 
    justify-content: space-between;
    margin: 1rem auto;
    width: 80%;   
}
/*H2 POLPULAIRE ET ICONE */
.h2Populaire {  
    margin: auto 0;
}
.divH2EtIconePopulaire i{
   color: black;
   margin: auto 0;    
}
/***************************ARTICLES LES PLUS POLPULAIRES***************/
.articlesLesPlusPopulaires a {
    display: flex; 
    background-color: white;
    flex-grow: 1;
    height: 9.2rem;
}

.articlesLesPlusPopulaires a img{
    object-fit: cover;  
    width: clamp(5rem,40%,10rem);
    height: 100%;
    border-radius: 20px 0 0 20px;
    border: 5px solid white;
}

/************container text and star*********/
.containerText {
    flex-direction: column; 
    justify-content: center;
    flex-grow: 1; 
    margin: auto;
}
.containerText p {
    font-size: 0.8rem;
    font-weight: normal; 
    color:black;  
}
/*************ACTIVITE A MARSEILLE*******/
/********************Container activité Marseille***************/
.activiteAMarseille {
    width: 100%;
}


/****************container de deux blocs activité Marseille*********/
.main_activite {
    display: flex;
    column-gap: 3%;
    width: 100%;
    height:53vh;
    margin-bottom: 60px;
 }
.div_container_deuxBlosDeTroisArticles{
    display: flex;
    column-gap: 6%;   
}
/******************articles verticaux**************/
.articleVerticale {
    box-shadow: 1px 0px 7px -2px rgba(0,0,0,0.65);
    flex-grow: 1;
}
.articleVerticale a img{
    object-fit: cover;
    width: 100%;
    height: 87%;
}
/***********horizontal*********/
.divHorizontale,.divHorizontalePomeguesFrioule {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
     row-gap: 6%;
}
/*les deux articles differents */
.divHorizontalePomeguesFrioule :nth-child(1){
     height: 50%;
}
.divHorizontalePomeguesFrioule article a img:nth-child(1) {
     height: 70%;
}
/*deux articles identique*/
.deuxArticlesHorizontales {
    box-shadow: 1px 0px 7px -2px rgba(0,0,0,0.65);
    height: 44%;
}

.deuxArticlesHorizontales a img {
    object-fit: cover;
    width: 100%;  
    height: 70%;
}
/*text activite a marseille*/
.textActivite {
    border: transparent 1px solid;
    margin: 1rem ;
    font-size: 0.7rem;
    color: black; 
}

/*************************************BREAKPOINTS MAIN*********************/
@media screen and (max-width:980px){
    /*section container hebergement et populaire*/
    .sectionHeberEtPopulaire {
        flex-direction: column-reverse;
        row-gap: 2rem;
    }
    /*CONTAINER DES SIX ARTICLES hebergement Marseille**********/
    .container_sixArticlesEtH2 {
        width: 100%;
    }
     /***********Container pour les trois articles les plus populaire**********/
     .divH2EtIconePopulaire {
        width: 90%;   
    }
    .div_troisArticles {
        width: 100%;  
    }
    .containerDesTroisArticles {
        flex-direction: row;
        width: 95%;
        column-gap: 0.5rem;
    }
    .articlesLesPlusPopulaires {
       margin: auto;
       width: clamp(13rem,100%,16rem);
       height: 9rem;
    }
    .containerDesTroisArticles img{
        width: clamp(2rem,40%,4rem);
    }
    /*activite*/
    .main_activite {
      flex-direction: column;
      height: 100%;
     }
     .div_container_deuxBlosDeTroisArticles{
         height: 50vh;
         margin-top: 4%;
    }
    .reverse {
        flex-direction: row-reverse;
    }
}
@media screen and (max-width:750px) {
    main {
        width: 100%;
    }
    /*HEBERGEMENT A MARSEILLE*/
    .articleHebergements {
         box-shadow: 1px 0px 7px -2px rgba(0,0,0,0.65);
    }
    .container_sixArticlesEtH2{
        background-color: white;
    }
    .articleHebergements {
       width:100%;
    }
    .articleHebergements img{
        width: 100%;
        height: 15rem;
     }
    /*POPULAIRE*/
    .containerDesTroisArticles {    
        flex-direction: column;
        row-gap: 2rem;
         width: 90%;
    }
    .div_troisArticles {
        border-radius: 0;
    }
    .articlesLesPlusPopulaires {
        width: clamp(10rem,100%,41rem);
     }
     .containerDesTroisArticles a img{
     
        width: clamp(5rem,50%,20rem); 
    }
     .containerText {
        display: flex;
        align-items: center;
      
        margin: auto 6%;
    }/****************activite*************/
    .div_container_deuxBlosDeTroisArticles{
          flex-direction: column;
          height: 100%;   
   }
   /*h2*----*/
   .divH2Activite {
       width: 95%;
       margin: auto;
   }
   /**********************verticale******/
   .articleVerticale, .deuxArticlesHorizontales{
          height: 200px;   
          margin: 2%; 
    }
    .articleVerticale a img, .deuxArticlesHorizontales a img, .divHorizontalePomeguesFrioule a img {
        height: 70%;
    }
    .divHorizontalePomeguesFrioule :nth-child(1) {
        height: 200px; 
    }
    .divHorizontalePomeguesFrioule a img {
        height: 70%;
    }
}
@media screen and (max-width:380px) {
    /*heber*/
    .articleHebergements {
        height: 12rem;     
    }
    .articleHebergements img {
        height: 7rem;
    }
    .div_container_deuxBlosDeTroisArticles article {
        height:11rem; 
    }
    .div_container_deuxBlosDeTroisArticles article a img{
        height: 8rem;
    }
    .containerText {  
        align-items:flex-start;
        width: 50%;
        margin: auto 6%;
    }
}

/******************FOOTER*******************/
footer {
   display: flex;
   align-items: baseline;
   width:100%;
   height:auto;
   padding: 2rem;
   background-color: #F2F2F2;
}
.containerDesClassFooter_infos {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    column-gap: 20%;
    width: 90%;
    max-width: 1340px;
    margin: auto;

}
.footer_infos {
    padding: 2% 0 2% 0;
}
h5 {
    font-size: 1rem ;
}

footer p {
    font-weight: normal;
   
    font-size: 1rem;
}
footer p:hover {
    opacity: 0.5;
}
/****************BREAKPOINTS FOOTER*************/
@media screen and (max-width:950px) {
    .containerDesClassFooter_infos {
        flex-direction: column;
        align-items: center;
    }
    .footer_infos {
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    .footerParagraphe {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
       
    }
}


@media screen and (max-width:750px) {
    .footer_infos{ 
          flex-direction: column;
          align-items: flex-start;
     }
     .footerParagraphe {
        align-items: flex-start;
    }
    .footerParagraphe p {
        margin: 5px;
    }
}



 