@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    border:solid black 1px;
    margin: 0;
    padding: 0;
  
}
/*Header*/
header {
    width: 92%;
    margin: auto;
}
.header_h1 {
    border:solid black 1px;
    display: flex;  
    justify-content: flex-end;
}

.header_img {
    border:solid rgb(228, 19, 19) 2px;
   flex-grow: 1.8;
   
    
}
.header_img img {
    border:solid rgb(240, 224, 11) 1px;
     width: 13%;
     margin-bottom: -30px;
}

.header_nav {
    display: flex;
    align-items: flex-end;
    flex-grow: 0.3;
   
    border:solid black 1px;
    width: 30%;
    color:#0065FC;

}
.header_nav ul {
    position: relative;
    display: flex;
    justify-content: space-between;
  
    
    border:solid rgb(241, 13, 13) 1px;
    width: 100%;
    list-style-type: none;
   
    
}
.header_nav ul a  {
    text-decoration: none;
}
.header_nav ul a::before {
   position: absolute;
   content: "";
   width: 100%;
   height: 0;
   border:solid 1px #0065FC;
   top: 0;
   left: 0;
   transform: scaleY(2) ;
   -webkit-transform: scaleY(2) ;
   -moz-transform: scaleY(2) ;
   -ms-transform: scaleY(2) ;
   -o-transform: scaleY(2) ;
}  