/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500&display=swap');*/

/*color site*/
.container_SixArticlesEtH2,
.div_troisArticles,
.div_populaire_trois,
.rechercher
.envoyer
footer {
    background-color: #F2F2F2;
}
.euros {
    font-weight: bold;
}
p,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0; 
    
    
}
.container {
    max-width: 1440px;
    margin:0 auto;
}
header {
    width: 92%;
    margin: 0 auto;
}
/*****container header premiere partie****/
.header_h1 {
    display: flex;
    justify-content: space-between;
}
/*dimension logo*/
.header_img img {
    width: 43%;
}
/*******header nav******/
.header_nav{
    display: flex; 
    justify-content: flex-end;
    margin-left: 40%;
    column-gap: 35%;
}
/*effet sur lien en tete*/
a {
    text-decoration: none;
}
/*Navigation hebergement activite*/
.nav_pHebergementHeber/*:hover*/ {
    border-top:3px solid #0065FC;
    width: 100%;
}
.nav_pHebergementHeber p {
    margin-top:40px;
    text-align: center;
    width: 100%; 
    font-weight: normal;
}
.nav_pHebergementHeberActivite:hover {
    border-top:3px solid #0065FC;
    width: 100%;
    color: black !important;
}
.nav_pHebergementHeberActivite p {
    margin-top:40px;
    text-align: center;
    width: 100%;  
    color: black !important;
    font-weight: normal;
}
.nav_pHebergementInscrire {
    margin: 0 4%; 
    color: black !important;
}
.nav_pHebergementInscrire:hover {
    border-top:3px solid #0065FC;
  
}
.nav_pHebergementInscrire p {
    margin-top:40px;
}

/*FIN effet sur lien en tete*/
/*******container deuxieme partie header*********/

.trouverHebergement h2{
    margin-bottom: 0rem;
    font-size: 1.3rem;
}
.trouverHebergement p {
    font-size: 0.9rem;
    
}
/*container element de recherche*/
.trouverUnHebergement_form {
    display: flex;
    flex-wrap: nowrap; 
    width: 30%;
    height: 45px;
    border:solid 1px #DEEBFF;
    border-radius: 20px;
    margin-top: 20px;
}
.trouverHebergement_font-awesome {
    background-color: #DEEBFF;
    padding: 0.8rem 1.2rem ;
    margin-top: -1px;
    border-radius: 15px 0 0 15px;
    font-size: 1rem;
    border:none;
}
.trouverHebergement_font-awesome:hover {
    background-color:#aebfda ;
}
.rechercher{  
    margin-left: 5%;
    font-size: 1rem;
    width: auto;
    border:none; 
    background-color: white;
    }
input:focus {
    background-color:rgb(223, 205, 205) ;
    outline: none;   
}
.rechercher::placeholder {
    color: black;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.envoyer {
    border-radius:0 15px 15px 0;
    background-color: #0065FC;
    color:white;
    width: 100%;
    height: 45px;
    font-size: 1rem;
    text-align: center;  
}
.envoyer:hover {
    background-color: #4789ec; 
}

/***********partie recherche*************/
.filtresContainerH2 {
    padding-bottom: 5px;
    margin-top: 13px;
    font-size: 1rem;
}

/********container filtres********/
.filtresContainer_container {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    margin: 31px 0 31px 0;
}
.filtresContainerFlitres {
    display: flex;
    width: 90%;
}
/*********container eco familial romantiqueanim*****/
.filtresContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}
/*********container logo eco fam rom anim*****/
.filtresContainer_div {
    display: flex;
    align-items: center;
    margin: 0 1rem 0.5rem 0;
    padding-right: 1rem;
    height: 47px;
    border: 1px solid #DEEBFF;
    border-radius:50px ;
   
}
.filtresContainer_div:hover {
    box-shadow: 2px -7px 28px 7px rgba(182, 171, 171, 0.91) inset;
}
/*Filtres */
.fas2 {
    padding-top: 0.8rem;
    margin: 0 1rem 0 0;
    background-color:#DEEBFF ;
    width: 3rem;
    height: 2rem;
    border-radius: 50px;
    text-align: center;   
}

/****container plus de 50 logements****/
.filtresConainertsIcone{
    display: flex;
    margin: 30px 0 10px 0;
    justify-content: space-between; 
    width:100%;
    color: black;
    width: 35%;
}
.filtresConainertsIcone p {
    color: black;
    font-weight: normal;
    font-size: 0.9rem;
}
.fas500logements {
    text-align: center;   
    font-size: 0.7rem;
    width: 21px;
    height: 17px;
    padding-top: 4px;
}
.borderFas500logements {
  border: #52575f solid 1px;
  border-radius: 50px;
}

/******************************MAIN CONTAINER *********************/
/*****************main container**********/

/*ci-dessous border radius des elements*/
.container_SixArticlesEtH2,
.div_troisArticles,.articleHebergements a ,
.div_populaire_trois,.articleVerticale,.divHorizontale,
.deuxArticlesHorizontales  {
    border-radius: 20px;
}/*********************************reglages associés***********************/
/*border radius des images*/
.containerDesSixArticles article img,
.articleVerticale article img,
.divHorizontale article img {
    border-radius: 20px 20px 0 0;
}
/*********************************reglages associés***********************/
.fas,.fas2, .etoile, .etoilePopulaire,.nav_pHebergementInscrire, .nav_pHebergementInscrire p {
    color: #0065fc ;
} 

.starWhite{
    opacity: 0.3;
}
/************HEBERGEMENT Marseille****************/
main {
    display: flex;
    flex-direction: column;
    margin: auto; 
    padding: 0;
    width: 93%;
}
.des-deuxSectionsPricipales {
    display: flex;
    column-gap: 3%;
}
/*dimension du bloc hebergement Marseille**********/
/*DEBUT HEBERGEMENT*/

.container_SixArticlesEtH2 {
    display: flex;
    flex: 1 1 1144px;
    flex-direction: column;
    row-gap: 18px;
    padding: 25px;
    
}
.containerDesSixArticles {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 19px;
}
.h2Activite{
    font-size: 1.3rem;
 
}
/*container 3 articles hebergement Marseille*************/

/**********container article***************/
.articleHebergements a{
   display: flex;
   flex-direction: column;
   background-color: white;
   width: auto;
   height:13rem;
   border-radius: 20px 20px;
   box-sizing: border-box;
}
.articleHebergements img{
    object-fit: cover; 
    height:7.3rem;
    width: 17vw;
    min-width: 140px;
    max-width: 235px;
    border:2px solid white;
    margin: 3px;
    border-radius: 20px 0 0 20px;
 }
 /********************Container text***************/
 .containerTextHebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1vw; 
    width:60%;
    height:90px;
    margin-top: -1vh;
}
.containerTextHebergement h3 {
    font-size: 13px;
    color:black;
   
}
.containerTextHebergement p {
    font-size: 0.8rem;
    font-weight: bold;
    color:black;
    margin-top: -10px;
    font-weight: normal;
    
 }
 .etoile {
    display:flex;
    list-style: none;
    font-size: 0.7rem;
    column-gap: 2px;
    width: 87px;
    margin: -5px 0 0 -39px;
}
.pHoverSixAticle :hover {
    font-size: 1.1rem; 
}
/********************* LES PLUS POPULAIRES****************/
/***********Container pour les trois articles les plus populaire**********/
.div_troisArticles {
    display: flex;
    flex-direction: column;
    flex: 1 1 532px;
    row-gap: 19px;  
    padding: 0 2.2rem;
}
.divH2EtIconePopulaire {
    display: flex; 
    justify-content: space-between;
    margin-top: 30px;
}
.h2Populaire {
    font-size: 1.3rem;
    
}
.divH2EtIconePopulaire i{
    margin-top: 27px;
    color: black;   
}
.div_populaire_trois  {
    display: flex;
    background-color: white;
    width: 100%;
    height: 8.9rem;

   
}
.articlesLesPlusPopulaires a {
    display: flex;
    width: auto;
}
.div_populaire_trois article a img{
    object-fit: cover; 
    width:9vw;
    min-width: 90px;
    height:8.2rem;
    border-radius: 20px 0 0 20px;
    border: 5px solid white;
}

/************container text and star*********/
.containerText {
    flex-direction: column; 
    width: 40%;
    height: 130px;
    margin-left: 3px;
    box-sizing: border-box;
}
.containerText h3 {
    font-size: 13px;
    color:black; 
}
.containerText p {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: normal; 
    color:black;
}
.etoilePopulaire {
    display: flex;
    margin-top: 4vh;
    font-size: 0.7rem;
}

/*************ACTIVITE A MARSEILLE*******/
/********************Container activité Marseille***************/
.main_activite {
   display: flex;
   column-gap: 3%;
   padding: 0;
   width: 100%;
   margin: 50px 0;
}
.div_container_deuxBlosDeTroisArticlesDuo {
    margin-top:60px;
  }
/****************container de deux blocs activité Marseille*********/
.h2ActiviteMarseille {
    font-size: 1.3rem;
}
.div_container_deuxBlosDeTroisArticles,
.div_container_deuxBlosDeTroisArticlesDuo {
    display: flex;
    flex-direction: column; 
    padding: 0;
}
/************Container trois blocs*************/
.containerDeuxDivDeTroisArticles {
    display: flex;
    column-gap: 6%;
    flex-wrap:nowrap;
    width: 100%
    
}
/****reglage image vieux port et calanques********/
.divVerticale {
    width: 50%;
}
.articleVerticale article img{
    object-fit: cover;
    width: 100%;
    height: 386px;
}
.vieuxPort, .calanques {
    height: 446px;
}
.fortDePomegue {
    height: 235px;
    margin-bottom: 44px;
 }
 .fortDePomegue article div img {
     height: 181px;
 }
 .ilesDuFrioul {
    height: 164px;
}
.ilesDuFrioul article div img {
    height: 108px;
}
.notreDame {
    height: 194px;
    margin-bottom: 45px;

}
.notreDame article div img {
    height: 138px;
}
.parc {
    height: 208px;   
}
.parc article div img {
    height: 153px;
}

/***********horizontal*********/
.divHorizontale {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.divHorizontale article img {
    object-fit: cover;
    width: 100%;
}
/*text activite a marseille*/
.textActivite {
    font-size: 1rem;
    padding-left: 1rem;
    margin-top: -0.6rem;
    color: black; 
}
.articleVerticale,.deuxArticlesHorizontales {
    box-shadow: 1px 0px 7px -2px rgba(0,0,0,0.65);
}

/******************FOOTER*******************/
footer {
   display: flex;
   column-gap: 20%;
   width:100%;
   height:auto;
   background-color: #F2F2F2;
}
h5 {
    font-size: 1rem ;
}
.footer_infos {
    padding-top: 53px;
    padding-left: 4%;
}
.marginRight {
    margin-right: 12%;
}
footer p {
    font-weight: normal;
    opacity: 0.5;
    font-size: 1rem;
}
footer p:hover {
    font-weight:700;
}

/************************media query********************/

@media screen and (max-width:600px) {
     main {
         width: 100%;
     }
    .header_h1 {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .nav_pHebergementInscrire {
        position: absolute;
       margin-left: 90%; 
       margin-left: 150vw;

    } 
    .nav_pHebergement:hover {
        border-bottom:3px solid #0065FC;
        width: 100%;
        border-top: none;
    }
    .nav_pHebergementInscrire:hover {
        border-top:none;
    }
    .trouverUnHebergement_form {
        width: 308px;
        height: 45px;    
    }
    .envoyer {
        display: none;
    }
    .envoyerMobile {
        background-color:#0065FC;
        padding: 0.9rem 1rem;
        border-radius: 15px;
        font-size: 1rem;
        color:white;
    }
    #btnRechercher {
        border:none;
        background-color: white;
        padding: 0px;
    }
    .containerDeuxDivDeTroisArticles {
        flex-wrap:wrap;

    }
    footer {
        flex-wrap: wrap;
        column-gap: 20%;
       
       
     }
     /*populaire et hebergement*/
     .des-deuxSectionsPricipales {
        display: flex;
        flex-direction: column-reverse;
       
    }

     /*HEADER NAV*/
     .header_nav{
        width: 100%;
        margin: 0;
        color:#0065FC;
        justify-content: space-between;
    }

     /*S INSCRIRE*/
     .nav_pHebergementInscrire {
        margin-left: 80%; 
        color: blue;
    }
    /*hebergement activite en header*/
    .nav_pHebergementHeber/*:hover*/ {
        border-top:none;
    }
    .nav_pHebergementHeberDessous {
        border-top:3px solid #0065FC;
        
    }
    .nav_pHebergementHeber p {
        margin-top: 0;
        text-align: center;
        width: 130%;
        color: blue; 
        margin-left: -10px; 
    }
    .nav_pHebergementHeberActivite:hover {
        border-top:3px solid #0065FC;
        width: 100%;
    }
    body .nav_pHebergementHeberActivite p {
        margin-top: 0;
        text-align: center;
        width: 186px;  
        color: black!important;
    }
    /*Filtres*/
    .filtresContainerFlitres {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .filtresContainerH2 {
       margin-left: 20px;
    }
    .filtresContainer_div{
        font-size: 0.6rem;
    }
    .filtresContainer_div p i{
        font-size: 0.8rem;
    }
    .filtresConainertsIcone {
        width: 100%;
    }
    /*LES PLUS POPULAIRES*/
    .div_troisArticles, .container_SixArticlesEtH2{
        border-radius: 0;
    }
    .div_troisArticles {
        padding-bottom: 36px;
    }
    .divH2EtIconePopulaire {
          width: 100%;
    }
    /*HEBERGEMENT A MARSEILLE*/
    .articleHebergements a{
        width: 100%;
        height:13rem;
        box-shadow: 1px 0px 7px -2px rgba(0,0,0,0.65);
     }
     .articleHebergements img{
         height:7.3rem;
         width: 80vw;
      }
      .container_SixArticlesEtH2 {
          background-color: white;
      }
   
          /*ACTIVITE*/

    .main_activite {
        flex-direction: column;
         column-gap: 2.5vw;
         width: 92%;
      }
      /*ACTIVITE*/
      .containerDeuxDivDeTroisArticles {
        flex-wrap: wrap;
        flex-direction:column;
        padding: 0 4vw;
        row-gap: 4vh;
      }
      .div_container_deuxBlosDeTroisArticlesDuo, .div_container_deuxBlosDeTroisArticles{
        margin-top:0px;
      }
      .h2Activite {
         margin-left: 20px;
      }
    
  
      .divVerticale {
    width: 100%;
    }
    .articleVerticale article img{
        object-fit: cover;
        width: 100%;
        height: 132px;
    }
    .divHorizontale {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .divHorizontale article img {
        object-fit: cover;
        width: 100%;
    }
      .vieuxPort, .calanques {
        height: 191px;
     }
     .deuxArticlesHorizontales {
         height: 193px;
     }
     .deuxArticlesHorizontales article a img {
        width: 100%;
         height: 132px;
     }
     .fortDePomegue {
        margin-bottom: 0;
        margin-bottom: 4vh;
     }
     .notreDame ,.ilesDuFrioul{
        margin-bottom: 4vh;


    }
}

@media screen and (min-width:600px) {
#btnRechercher {
    display:none;             
}
} 
        