body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;   
}
.container {
    max-width: 1440px;
    margin:0 auto;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
/*color site*/
.container_sixArticlesEtH2,
.div_troisArticles,
.rechercher
.envoyer
footer {
    background-color: #F2F2F2;
}
.euros {
    font-weight: bold;
}
p,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    color: black;
}
/*********************************reglages associés***********************/
.fas,.fas2 {
    color: #0065fc ;
} 
header {
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*****container header premiere partie****/
.header_h1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 85%;
}
/*dimension logo*/
.header_img img {  
    width: 6rem;
}
/*******header nav******/
.header_nav{
    display: flex; 
    justify-content: space-between;
    width: 15rem;
}
/*Navigation hebergement activite*/
.nav_pHebergementHeber:hover {
    border-top:3px solid #0065FC;
    width: 7rem;
}

.nav_pHebergementHeber p { 
    margin-top:40px;
    text-align: center;
    width: 100%; 
    font-weight: normal;
}

.nav_pHebergementHeberActivite:hover {
    border-top:3px solid #0065FC;
    width:3.5rem;
}
.nav_pHebergementHeberActivite p {
    margin-top:40px;
    text-align: center;
    width: 100%;  
    font-weight: normal;
}
.nav_pHebergementInscrire {
    position: absolute;
    width: 10%;
    margin-left:107%;
    

}
.nav_pHebergementInscrire:hover {
    border-top:3px solid #0065FC;
    width: 4rem;
}
.nav_pHebergementInscrire p {
    margin-top:40px;
}
/*FIN effet sur lien en tete*/
/*******CONTAINER DEUXIEME PARTIE HEADER*********/
.trouverHebergement h2{  
    font-size: 1.3rem;
}
.trouverHebergement p {
    font-size: 0.9rem;
    
}
/*container element de recherche*/
.trouverUnHebergement_form {
    display: flex;
    flex-wrap: nowrap; 
    width: 30%;
    border-radius: 20px;
}
.trouverHebergement_font-awesome {
    background-color: #DEEBFF;
    padding: 0.8rem 1.2rem ;
    margin-top: -1px;
    border-radius: 15px 0 0 15px;
    font-size: 1rem;
    border:none;
}
.trouverHebergement_font-awesome:hover {
    background-color:#aebfda ;
}
.rechercher{  
    padding-left: 5%;
    font-size: 1rem;
    width: auto;
    border:none; 
    background-color: white;
    border:solid 1px #DEEBFF;
    }
input:focus {
    background-color:rgb(223, 205, 205) ;
    outline: none;   
}
.rechercher::placeholder {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.envoyer {
    border-radius:0 15px 15px 0;
    background-color: #0065FC;
    color:white;
    width: 100%;
    max-width: 133px;
    font-size: 1rem;
    text-align: center;  
    font-weight: bold;
    border: none;
}
.envoyer:hover {
    background-color: #4789ec; 
}
#btnRechercher {
    display:none;             
}

/***********partie FILTRES*************/
.filtresContainer_container {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    margin-top: 1.9rem;
    row-gap: 1.9rem;
    width: 60%;

}
.filtresContainerFiltres {
    display: flex;
    column-gap:2%;
    width: 100%;
}
.filtresContainerH2 {
    font-size: 1rem;
    margin: auto;
    

}
.filtreContainerQuatresItems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}
/*********container logo eco fam rom anim*****/
.filtresContainer_div {
    display: flex;
    border: 1px solid #DEEBFF;
    border-radius:50px;
}
.filtresContainer_div P {
    margin: auto 1rem auto 0;
}
.filtresContainer_div:hover {
    box-shadow: 2px -7px 28px 7px rgba(182, 171, 171, 0.91) inset;
}
.filtresContainer_div:hover {
    box-shadow: 2px -7px 28px 7px rgba(182, 171, 171, 0.91) inset;
}
/*Filtres */
.fas2 {
    margin-left: 0;
    padding: 0.8rem;
    background-color:#DEEBFF ;
    border-radius: 50px;
}

/****container plus de 50 logements****/
.filtresConainertsIcone{
    display: flex;
    color: black;
    width: 55%;
}
.filtresConainertsIcone p {
    color: black;
    font-weight: normal;
    font-size: 0.9rem;
  /*  margin-left: 2%;*/
}
.fas500logements {
    text-align: center;   
    font-size: 0.7rem;
    width: 21px;

   /* padding-top: 4px;*/
}
.borderFas500logements {
  border: #f2f2f2 solid 1px;
  border-radius: 50px;
}
@media screen and (max-width:750px) {
    effet sur lien en tete
A METTRE DANS LES MEDIA QUERY
.nav_pHebergementHeber p a {  
    color: blue;
}
.nav_pHebergementHeber p a:visited {
    color: black;
}
.nav_pHebergementHeberActivite p a :visited {
    color: black;
}
}

/******************************MAIN CONTAINER *********************/
/*****************main container**********/

/*ci-dessous border radius des elements*/
.articlesLesPlusPopulaires,
.container_sixArticlesEtH2,
.div_troisArticles,.articleHebergements a ,
.articleVerticale,.divHorizontale,
.deuxArticlesHorizontales  {
    border-radius: 20px;
}/*********************************reglages associés***********************/
/*border radius des images*/
.containerDesSixArticles article img,
.articleVerticale article img,
.divHorizontale article img {
    border-radius: 20px 20px 0 0;
}
.starWhite{
    opacity: 0.3;
}
main {
    display: flex;
    flex-direction: column;
    margin: auto; 
    width: 93%;
}
/************HEBERGEMENT ET LES PLUS POPULAIRE****************/
/*etoiles communes AUX articles */
.etoilePopulaire {
    display: flex;
}
.etoilePopulaire p i {
    font-size: 0.7rem;
}
/*SECTION CONTAINER HEBERGEMENT ET LES PLUS POPULAIRE*/
.sectionHeberEtPopulaire {
    display: flex;
    column-gap: 3%;
}
/*H2*/
.heberH2,.pHoverSixAticle{
    width:90%;
}
.h2Hebergement {
    font-size: 1.4rem;
}
/*CONTAINER DES SIX ARTICLES "avec h2 et afficher plus" hebergement Marseille**********/

.container_sixArticlesEtH2 {
    display: flex;   
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}
/*CONTAINER DES SIX ARTICLES HEBERGEMENT*/
.containerDesSixArticles {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
    width: 95%;
    height: 85%;
}
/**********ARTICLES des hebergements***************/
.articleHebergements {
   display: flex;
   flex-direction: column;
   background-color: white;
   width:15.4rem;
   border-radius: 20px 20px;
   box-sizing: border-box;
}
.articleHebergements img{
    object-fit: cover; 
    width: 100%;
    height: 7rem;
    border:2px solid white;
    border-radius: 20px 0 0 20px;
 }
 /********************Container text***************/
 .containerTextHebergement {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;  
    width: 100%;  
}
.containerTextHebergement h3 {
    font-size: 0.8rem;
    margin:0;
}
.containerTextHebergement p {
    font-size: 0.8rem;
    font-weight: normal; 
    margin: 0.5rem 0 0.5rem 0;
 }
.pHoverSixAticle :hover {
   color: blanchedalmond; 
}
/********************* LES PLUS POPULAIRES****************/
/***********Container pour les trois articles les plus populaire**********/
.div_troisArticles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%; 
}
.containerDesTroisArticles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:80%;
    height: 85%;
}
/******div container h2 et de l'icone********/
.divH2EtIconePopulaire {
    display: flex; 
    margin-top: 1rem;
    width: 100%;
}
/*H2 POLPULAIRE ET ICONE */
.h2Populaire {
    font-size: 1.4rem;
    margin: auto;  
}
.divH2EtIconePopulaire i{
    color: black;
    margin: auto;   
}
/***************************ARTICLES LES PLUS POLPULAIRES***************/

.articlesLesPlusPopulaires {
    display: flex; 
    background-color: white;
    width: 100%;
   
    height: 9rem;

}
.articlesLesPlusPopulaires img{
    object-fit: cover; 
    width: 8.6rem;
    height: 100%;
    border-radius: 20px 0 0 20px;
    border: 5px solid white;
}

/************container text and star*********/
.containerText {
    flex-direction: column; 
    justify-content: center;
    width: 45%;
    margin: auto;
}
.containerText h3 {
    font-size: 0.8rem;
    margin:  0;
}
.containerText p {
    font-size: 0.8rem;
    font-weight: normal; 
    color:black;
   
}

/*************ACTIVITE A MARSEILLE*******/
/********************Container activité Marseille***************/
.main_activite {
   display: flex;
   column-gap: 3%;

   width: 100%;
   
}
.div_container_deuxBlosDeTroisArticlesDuo {
    margin-top:60px;
  }
/****************container de deux blocs activité Marseille*********/

.h2Activite{
    font-size: 1.3rem;
 
}
.div_container_deuxBlosDeTroisArticles,
.div_container_deuxBlosDeTroisArticlesDuo {
    display: flex;
    flex-direction: column; 
}
/************Container trois blocs*************/
.containerDeuxDivDeTroisArticles {
    display: flex;
    column-gap: 6%;
    flex-wrap:nowrap;
    width: 100%
    
}
/****reglage image vieux port et calanques********/

.articleVerticale article img{
    object-fit: cover;
    width: 100%;
  
}

/***********horizontal*********/
.divHorizontale {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.divHorizontale article img {
    object-fit: cover;
    width: 100%;
}
/*text activite a marseille*/
.textActivite {
    font-size: 1rem;
 
   
    color: black; 
}
.articleVerticale,.deuxArticlesHorizontales {
    box-shadow: 1px 0px 7px -2px rgba(0,0,0,0.65);
}

/******************FOOTER*******************/
footer {
   display: flex;
   column-gap: 20%;
   width:100%;
   height:auto;
   background-color: #F2F2F2;
}
h5 {
    font-size: 1rem ;
}
.footer_infos {
    padding-top: 53px;
    padding-left: 4%;
}
.marginRight {
    margin-right: 12%;
}
footer p {
    font-weight: normal;
    opacity: 0.5;
    font-size: 1rem;
}
footer p:hover {
    font-weight:700;
}



    /*
    .articleHebergements a{
        width:88vw;
        min-width: 10px;
        height:18rem;
        box-shadow: 1px 0px 7px -2px rgba(0,0,0,0.65);
     }
     .articleHebergements img{
        width: 86vw;
        max-width:none;
        min-width: 10px;
    }
 */
          /*ACTIVITE*/
/*
    .main_activite {
        flex-direction: column;
         column-gap: 2.5vw;
         width: 92%;
      }
 
      .containerDeuxDivDeTroisArticles {
        flex-wrap: wrap;
        flex-direction:column;
        padding: 0 4vw;
        row-gap: 4vh;
      }
      .div_container_deuxBlosDeTroisArticlesDuo, .div_container_deuxBlosDeTroisArticles{
        margin-top:0px;
      }
      .h2Activite {
         margin-left: 20px;
      }
 
      
      .divVerticale {
       width: 100%;
    }
    .articleVerticale article img{
        object-fit: cover;
        width: 100%;
        height: 132px;
    }
    .divHorizontale {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .divHorizontale article img {
        object-fit: cover;
        width: 100%;
    }
      .vieuxPort, .calanques {
        height: 191px;
     }
     .deuxArticlesHorizontales {
         height: 193px;
     }
     .deuxArticlesHorizontales article a img {
        width: 100%;
         height: 132px;
     }
     .fortDePomegue {
        margin-bottom: 0;
        margin-bottom: 4vh;
     }
     .notreDame ,.ilesDuFrioul{
        margin-bottom: 4vh;


    }
}
*/
/*
@media screen and (max-width:750px) {
    .envoyer {
        display: none;
    }

}
*/
/*
@media screen and (min-width:750px) {

        #btnRechercher {
            display:none;             
        }
       
} 
*/
/*
@media screen and (max-width:375px) {
    header {
        margin-bottom: 1430px;
    }
    .div_troisArticles {
        background-color: #DEEBFF!important;
        padding: 0 1rem;
    }
  
    .h2Hebergement {
        text-align: center;
    }
    .div_populaire_trois  {
        width: 100%;
        height: 140px;
        box-sizing: border-box;  
    }
    .articlesLesPlusPopulaires a { 
        width: auto;
    }
    .div_populaire_trois article a img{
        width:30vw;
        max-width: 100px;
        min-width: 20px;
        height:130px;
    }
    .containerText {
       
        width: 40vw;
        height: 120px;
        text-align:left;
        margin-left:10%;
    }
    .containerText h3 {
        font-size: 0.7em;
    }
    .containerText p {
        font-size: 0.7rem;
    }

    }
    
*/